body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 1em;
}

#navbar a:hover {
    background-color: gray;
}

#col-left {
    width:33%;
    float:left;
}

#col-mid {
    width:33%;
    float:left;
}

#col-right {
    width:33%;
    float:left;
}

.card {
    box-sizing: border-box;
    padding: 1em;
}

.sample-site {
    margin: 1em;
    background-color: rgb(184, 184, 184);
    border-radius: 25px;
    text-align: center;
}

.sample-site iframe {
    box-sizing: border-box;
    width: 100%;
    border-style: none;
    border-radius: 25px;
}